.headerContainer {
  background: var(--purple-900);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem  4rem;

  border-bottom: 1px solid var(--gray-100);

  a {
    height: 6.5rem;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    color: #58c354;
    align-items: center;
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-500);
    color: var(--gray-500);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}